html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  padding-top: 200px;
  transition: padding-top 0.5s ease;
}

header {
  width: 100%;
  height: 200px;
  background-color: #3498db;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 1500;
}
header h1 {
  font-size: 42px;
  color: #fff;
  line-height: 150px;
  text-transform: uppercase;
  font-weight: 100;
  transition: all 0.3s ease;
}
header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
header nav a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
}
header nav a:hover {
  background-color: white;
  color: black;
}

p {
  margin-bottom: 2rem;
  line-height: 2;
  color: #7f8c8d;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky header {
  height: 60px;
  /*background-color:black;*/
  color: black;
}
body.sticky header h1 {
  transform: scale(0,0);
}
body.sticky header span{
float: right;
padding-right: 100px;	
}

body.sticky nav{
text-align: left;
padding-left: 100px;
}
.active{
	background-color: white;
	padding: 10px 15px;
	color: black;

}
.flip3D{
 width:240px;
 height:200px;
 float: right; 
 margin-left: 1%;
 margin-right: 15%;
  }

.flip3D  .front{
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
	background:lightblue; width:240px; height:200px; border-radius: 7px;
	backface-visibility: hidden;
	text-align:center;	
	transition: transform .5s linear 0s;
}
.flip3D .back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	background: black;
	color: white;
	text-decoration-color: white;
	line-height: 22px;
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
	justify-content: center;align-items: center;
	width:240px; 
	height:200px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flip3D:hover .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover  .back{
	transform: perspective( 600px ) rotateY( 0deg );
}

.wrapper{

	animation: left_to_right 5s ease;
	/*padding-left: 250px;*/
	/*text-align: left;*/
}
.name{
	animation:  right_to_left 5s ease;
padding-left: 250px;
	/*text-align: left;*/
}
@keyframes  right_to_left{
	from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 360px;
  }
}
